.container-order {
  display: grid;
  background-color: #4d263d;
  height: 100%;
  width: 60%;
  grid-template-areas:
    "orden-pedido"
    "cliente"
    "container-pedido";
}
.orden-pedido {
  align-content: right;
  justify-content: right;
  color: aliceblue;
  grid-area: orden-pedido;
}
.cliente {
  width: 40%;
  height: 10%;
  grid-area: cliente;
}

.container-pedido {
  grid-area: container-pedido;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
  height: 100%;
  padding: 15px;
  gap: 50px;
  color: white;
}

.info-pedidos {
  color: white;
}
