.container-principal {
  display: flex;
  justify-content: right;
  margin-top: -47%;
  margin-left: 20%;
}

.container-order {
  padding: 5px;
  display: grid;
  background-color: #4d263d;
  height: 500px;
  width: 60%;
  grid-template-rows: 80px 50px 1fr 80px;
  grid-template-areas:
    "orden-pedido"
    "cliente"
    "container-pedido"
    "container-total";
}

.orden-pedido {
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  grid-area: orden-pedido;
}

.cliente {
  display: flex;
  position: relative;
  width: 90%;
  height: 80%;
  grid-area: cliente;
  left: 20px;
}

.cliente::placeholder {
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.container-pedido {
  grid-area: container-pedido;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
  height: 100%;
  padding: 15px;
  gap: 50px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.info-pedidos {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.container-total {
  grid-area: container-total;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
  height: 100%;
  padding: 15px;
  gap: 50px;
  color: white;
}

.boton-orden {
  width: 120px;
  height: 40px;
  font-size: 15px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: rgb(57, 223, 6);
}
