.container-home {
  width: 50%;
  height: calc(100% - 15%);
}

.titulo-desayunos {
  display: flex;
  width: 200%;
  height: 80px;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 50px;
  color: white;
}

.container-buttons {
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: space-around;
  display: flex;
}

.break-fast,
.dinner {
  width: 250px;
  height: 50px;
  font-size: 20px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: border-color 0.25s;
}

.break-fast {
  background-color: #dd158c;
}

.dinner {
  background-color: #c4d600;
}

.container-menu {
  display: flex;
  width: 100%;
  height: 80%;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
}

.product {
  padding-top: 10px;
  background-color: aliceblue;
  width: 250px;
  height: 250px;
  justify-content: center;
  border-radius: 10px;
  display: grid;
  grid-template-areas:
    "imagen"
    "texto";
}

.imagen {
  grid-area: imagen;
  width: 240px;
  height: 170px;
  border-radius: 15px;
}

.container-description {
  grid-area: texto;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 60% 40%;
  grid-template-areas: "description boton";
}

.description {
  grid-area: description;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-left: 10px;
}

.add {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  grid-area: boton;
  width: 50px;
  height: 50px;
  padding: 0;
  margin-left: 30px;
  font-size: 50px;
  font-weight: bolder;
  color: #ffffff;
  background-color: #dd158c;
  border-radius: 50%;
  text-align: center;
  border: none;
}
