.container-home{
  width: 100%;
  height: calc(100% - 12%);
  background-color: yellow;
 
};

.container-title{
  width: 50%;
  background-color: rgb(255, 127, 127);
  display: flex;
}

.title{
  font-size: 10px;
 
}