* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.25s;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  background-color: black;
}

#root {
  width: 100%;
  height: 100vh;
}

.login-app {
  color: white;
}

.container-login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "uno dos";
}

.container-form {
  position: relative;
  grid-area: uno;
}

.titulo {
  color: white;
}

.container-logo {
  position: relative;
  grid-area: dos;
}

.logo {
  width: 650px;
  height: 650px;
}
