.container-pedidos {
    height: calc(100% - 15%);
    display: grid;
    grid-template-rows: auto 20% 100%;
    grid-template-areas: 
    "Encabezado"
    "titulo-pedidos"
    "container-productos"
    "header-comanda";
}

.Encabezado {
    margin-top: 2%;
}

.titulo-pedidos {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 50px;
    color: white;
}

.container-comandas {
    font-size: 20px;
    font-weight: bold;
    height: max-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.pedido{
    background-color: #4d263d;
    width: 40%;
    height: 400px;
    display: grid;
    padding: 15px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "nombre-cliente"
    "header-comanda"
    "container-comida"
    "tiempo-transcurrido"
    "estado"
    "btnEstado"
}

.container-client{
display: flex;
width: 100%;
justify-content: flex-start;
grid-area: nombre-cliente;
}

.name-client{
    height: auto;
    color: white;
    display: flex;
    font-size: 25px;
    text-transform: uppercase;
    padding-left: 20px;
}

.header-comanda {
    display: grid;
    width: 100%;
    grid-area: header-comanda;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "pedido-producto pedido-cantidad pedido-precio";
    justify-content: space-between;
}

.pedido-producto {
    color: white;
    grid-area: pedido-producto;
}

.container-comida{
    grid-area: container-comida;
    display: flex;
    flex-direction: column;
}

.listado-comida {
    grid-area: pedido-food;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* grid-template-areas: 
    "pedido-food pedido-qty pedido-price"
    ; */
}

.listaComida {
    color: white;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
}

.pedido-qty {
    grid-area: pedido-qty;
    color: white;
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.pedido-price {
    color: white;
    width: 100%;
    grid-area: pedido-price;
}




.estado {
grid-area: estado;
}

.container-btnEstado {
    grid-area: btnEstado;
}