.container-agregar-empleados {
  width: 90%;
  height: 100%;
  display: grid;
  left: 5%;
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 120px 100px 100px 100px 1fr;
  grid-template-areas:
    "titulo titulo"
    "email email"
    "contraseña contraseña"
    "rol rol"
    "btnAceptar btnAceptar";
}

.title-editar {
  grid-area: titulo;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Metal Mania", cursive;
  font-size: 45px;
  letter-spacing: 10px;
}
.correo-user {
  grid-area: email;
  width: 80%;
  height: 50%;
  position: relative;
  left: 10%;
  top: 20%;
  text-align: center;
  background-color: white;
  border: solid 3px black;
  font-size: 20px;
  color: black;
}
.nueva-contraseña {
  grid-area: contraseña;
  width: 80%;
  height: 50%;
  position: relative;
  left: 10%;
  top: 20%;
  text-align: center;
  background-color: white;
  border: solid 3px black;
  font-size: 20px;
  color: black;
}

.nuevo-rol {
  grid-area: rol;
  width: 80%;
  height: 50%;
  position: relative;
  left: 10%;
  top: 20%;
  color: black;
  text-align: center;
  background-color: white;
  border: solid 3px black;
  font-size: 20px;
}

.option {
  font-size: 15px;
}

.btn-aceptar-cambios2 {
  grid-area: btnAceptar;
  background-color: rgb(8, 197, 8);
  width: 70%;
  height: 70%;
  position: relative;
  left: 15%;
  top: 20%;
  font-size: 20px;
  font-weight: bold;
  border: none;
  letter-spacing: 3px;
}
