.modal-container {
  background-color: rgba(255, 4, 4, 0.318);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.modal-body {
  background-color: white;
  width: 80%;
  height: 60%;
  min-width: 400px;
  position: relative;
  padding: 1rem;
  display: flex;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  width: 40px;
  height: 40px;
  font-size: 30px;
  font-weight: bolder;
  cursor: pointer;
  background-color: red;
  border: none;
  color: white;
}
