.containerHeader {
  margin: 0;
  width: 100%;
  height: 13%;
  display: flex;
}

.header {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5% 2% 0 2%;
}

.containerLogo {
  position: relative;
}

.logoPequeño {
  position: relative;
  width: 80px;
  height: 80px;
}

.containerBotones {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  padding: 0 5% 0 0;
  gap: 20px;
}

.boton {
  background: none;
  border: none;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.foto {
  position: relative;
}

.usuario {
  position: relative;
  width: 80px;
  height: 80px;
}
