.container-pedidos {
  width: 100%;
  height: calc(100% - 13%);
  padding: 5px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.titulo-pedidos {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: center;
}

.container-comandas {
  position: relative;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  overflow: auto;
}

.pedido {
  background-color: #4d263d;
  width: 45%;
  height: max-content;
  padding: 15px 10px 15px 0;
  display: grid;
  grid-template-rows: 50px 50px max-content 1fr 1fr 1fr;
  grid-template-areas:
    "nombre-cliente"
    "header-comanda"
    "container-comida"
    "tiempo-transcurrido"
    "estado"
    "btnEstado";
}

.container-client {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  grid-area: nombre-cliente;
}

.name-client {
  height: auto;
  color: white;
  display: flex;
  font-size: 25px;
  text-transform: uppercase;
  padding-left: 22px;
}

.header-comanda {
  display: grid;
  width: 100%;
  grid-area: header-comanda;
  grid-template-areas: "pedido-producto pedido-cantidad pedido-precio";
  justify-content: space-around;
}

.pedido-producto {
  color: white;
  grid-area: pedido-producto;
}

.pedido-cantidad {
  position: relative;
  color: white;
  grid-area: pedido-cantidad;
  left: 10px;
}

.pedido-precio {
  color: white;
  grid-area: pedido-precio;
}

.listado-comida-container {
  grid-area: container-comida;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 10px;
}

.container-comida {
  display: grid;
  width: 100%;
  height: auto;
  padding: 0 0 15px 0;
  grid-template-columns: 200px 150px 100px;
  grid-template-areas: "pedido-food pedido-qty pedido-price";
}

.pedido-food {
  grid-area: pedido-food;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  left: 24px;
}

.pedido-price {
  display: flex;
  flex-direction: column;
  grid-area: pedido-price;
  color: white;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.pedido-qty {
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
  grid-area: pedido-qty;
  justify-content: center;
  align-items: center;
}

.tiempo-transcurrido {
  color: white;
  display: flex;
  justify-content: flex-start;
  position: relative;
  left: 24px;
  margin-bottom: 10px;
}

.estado {
  grid-area: estado;
  color: white;
  display: flex;
  justify-content: flex-start;
  position: relative;
  left: 24px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.container-btnEstado {
  grid-area: btnEstado;
  display: flex;
  justify-content: center;
}

.btnEstado,
.btn-cerrar-orden {
  position: relative;
  width: 120px;
  height: 30px;
  font-size: 14px;
  border-radius: 8px;
  border: none;
  font-weight: bolder;
  cursor: pointer;
  background-color: rgb(57, 223, 6);
  top: 5px;
}
