@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");

.container-principal {
  position: relative;
  display: flex;
  justify-content: right;
  width: 47%;
  height: 67%;
  bottom: 67.5%;
  left: 51%;
  overflow: auto;
  /*   height: 50%; */
  /*   margin-top: -50%;
  margin-left: 0%; */
}

.container-order {
  padding: 5px 10px 5px 10px;
  display: grid;
  background-color: #4d263d;
  height: max-content;
  width: 100%;

  grid-template-rows: 50px 50px 60px auto 1fr;
  grid-template-areas:
    "orden-pedido"
    "cliente"
    "container-pedido"
    "lista-productos"
    "container-total";
}

.orden-pedido {
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  grid-area: orden-pedido;
  font-family: "Metal Mania", cursive;
  letter-spacing: 10px;
}

.cliente {
  display: flex;
  position: relative;
  width: 90%;
  height: 60%;
  grid-area: cliente;
  left: 20px;
  top: 10px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  align-content: center;
  text-transform: uppercase;
}

.cliente::placeholder {
  color: black;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.container-pedido {
  position: relative;
  grid-area: container-pedido;
  display: grid;
  height: 100%;
  color: white;
  font-size: 25px;
  grid-template-columns: /* 210px 110px 170px  */ 1fr 1fr 1fr;
  grid-template-areas: "producto costo cantidad";
  align-items: center;
  font-family: "Metal Mania", cursive;
  letter-spacing: 4px;
}

.info-producto {
  grid-area: producto;
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
}

.info-precio {
  grid-area: costo;
  display: flex;
  justify-content: center;
}

.info-cantidad {
  grid-area: cantidad;
  display: flex;
  justify-content: center;
}

.lista-productos {
  grid-area: lista-productos;
  display: grid;
  gap: 10px;
}

.container-lista {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  grid-template-columns: /* 210px 110px 170px */ /* 48% 17% 30%  */ 1fr 1fr 1fr;
  grid-template-areas: "nombre precio botonesCantidad";
  align-items: center;
}

.nombre {
  grid-area: nombre;
  color: white;
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
}

.listaComida {
  color: white;
  font-size: 20px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.container-precio {
  grid-area: precio;
  color: white;
}

.precio {
  color: white;
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.botonesCantidad {
  grid-area: botonesCantidad;
  position: relative;
  display: grid;
  grid-template-columns: 30px 30px 40px 1fr;
  grid-template-areas: "menos cantidad mas eliminar";
  left: 10px;
}

.mas {
  grid-area: mas;
  width: 25px;
  height: 25px;
  font-size: 20px;
  font-weight: bolder;
  color: #ffffff;
  background-color: #dd158c;
  border-radius: 50%;
  border: none;
}

.suma-cantidad {
  grid-area: cantidad;
  color: white;
  display: flex;
  justify-content: flex-start;
  padding-left: 5px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.menos {
  grid-area: menos;
  width: 25px;
  height: 25px;
  font-size: 20px;
  font-weight: bolder;
  color: #ffffff;
  background-color: #dd158c;
  border-radius: 50%;
  border: none;
}

.eliminar {
  grid-area: eliminar;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icono-basura {
  font-size: 25px;
  color: white;
  position: relative;
  bottom: 5px;
}

.container-total {
  grid-area: container-total;
  width: 100%;
  display: grid;
  padding: 20px 5px 5px 0;
  color: white;
  grid-template-columns: /* 220px 130px 130px */ 1fr 1fr 1fr;
  grid-template-areas: "info-pedidos info-total boton-orden";
}

.info-pedidos {
  grid-area: info-pedidos;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  font-family: "Metal Mania", cursive;
  letter-spacing: 10px;
}

.info-total {
  grid-area: info-total;
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.boton-orden {
  grid-area: boton-orden;
  position: relative;
  width: 100px;
  height: 25px;
  font-size: 12px;
  border-radius: 8px;
  border: none;
  font-weight: bolder;
  cursor: pointer;
  background-color: rgb(57, 223, 6);
  top: 5px;
  left: 25%;
  color: black;
}
